Schema XML/Ejercicio09Schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ejercicio9">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="matriculaParcial" type="tipoVacio" minOccurs="0" maxOccurs="1"/>
          
        <xs:element name="matricula" type="tipoM" minOccurs="0" maxOccurs="1"/> 
        
        <xs:element name="caso3" type="casoActivado" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

<xs:simpleType name="tipoVacio">
  <xs:restriction base="xs:string">
    <xs:length value="0"/>
  </xs:restriction>
</xs:simpleType>


<xs:complexType name="tipoM">
  <xs:simpleContent>
    <xs:extension base="xs:string"><!-- Solo puede ser de tipo string-->
      <xs:attribute type="xs:string" name="activado"/> 
    </xs:extension>
  </xs:simpleContent>
</xs:complexType>



<xs:complexType name="casoActivado" >
  <xs:attribute name="activado">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="total"/>
        <xs:enumeration value="parcial"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
</xs:complexType>

</xs:schema>